body{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}
.wrapper{
    display: flex;
    justify-content: space-between;
    width: 1000px;
    height: 400px;
}
.w250{
    height: 300px;
    width: 250px;
    text-align: center;
    border:0.5px solid black;
    position: relative;
}
.w250>h5{
    font-size: 17px;
}
.w250>p{
    color: lightgrey;
}
button{
    height: 50px;
    width: 125px;
    background-color: white;
}
.round{
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    border: 0.5px solid darkgray;
    top: -30px;
    left: calc(250px / 2 - 25px);
}

.fa-solid{
    font-size: 30px;
}
