*{
    background: coral;
}
h1{
    background: yellow;
    color:red;
}
img{
    width: 400px;
}
p{
    background: yellow;
    color: red;
}
ul{
    background: yellow;
    color: red;
}
li{
    background: yellow;
}